.row td:nth-child(1) { 
    font-weight: bold;
}
.row td i{
    margin-right: .5rem;
    font-size: 1.25rem;
    color: var(--third-color);
}

.link_wrapper{
    display: flex;
    align-items: center;
}
.link_wrapper p:hover{
    color: var(--blue-color);
}

