

header hr{
    margin-top: 1rem;
}

header div{
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-family: 'Second';
    color: var(--third-color);
}
.link{
    margin-left: auto;
}



.loading_row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}


@media (max-width: 500px){
    .title{
        padding-right: 1rem;
        margin-right: auto;
    }
    .link{
        margin: 0;
    }
}

