.button{
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    font-family: 'Main';
    background: var(--blue-color);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border: none;
}
.button:hover{
    opacity: .9;
}