.sidebar{
    background: var(--second-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50px;
    padding-top: 20px;
    overflow: hidden;
    transition: all .50s ease;

    margin-top: 4.5rem;
    position: relative;
}
.sidebar:hover{
    padding-top: 0;
    width: 200px;
}
.sidebar:hover .links_container{
    animation: showLinks .50s ease forwards;
}
.sidebar:hover .icon{
    display: none;
    transition: all .50s ease;
}



.icon{
    display: block;
    color: var(--third-color);
    font-size: 1.5rem;
}



.links_container{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    opacity: 0;
    width: 100%;
}



.links_header{
    color: var(--third-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 1rem;

    width: 100%;
}
.links_header i{
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}
.links_header p{
    font-family: 'Main';
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0;
}



.link{
    text-decoration: none;
    padding: .5rem 1rem;
    font-family: 'Main';
}
.link p{
    width: 150px;
}
.link:hover{
    background: rgb(222, 221, 221);
    color: var(--blue-color);
}
.link:focus{
    font-weight: bold;
    color: var(--blue-color);
    background: #E3FCF7;
}

/* Animações */

@keyframes showLinks {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}


@media (max-width: 800px){
    .links_header i{
        display: none;
    }
    .links_header p{
        font-size: 11px;
    }
    .sidebar{
        font-size: 12px;
    }
}

