.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.delete{

    text-align: center;
    font-family: 'Main';
    background: #BF3938;
    color: #ECC8C5;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.delete:hover{
    background: #cd4040;
}


.confirm{
    background: #ECC8C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirm_text{
    text-align: center;
    font-family: 'Main';
    margin-top: 1rem;
}
.confirm_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
}
.confirm_wrapper button{
    padding: .5rem 1rem;

    cursor: pointer;
}
