.user_settings{
    margin-left: auto;
    position: relative;
}

.button{
    display: flex;
    gap: .5rem;

    font-family: 'Main';
    border: 1px solid rgb(218, 217, 217);
    border-radius: 20px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .20s ease;
}
.button:hover{
    box-shadow: 0px 0px 0px 3px rgb(218, 217, 217);
}

.button i{
    color: grey;
}

.button_active{
    background: var(--second-color);
}