.header{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: .5rem;
}
.back_arrow{
    font-size: 2rem;
    cursor: pointer;
}
.title_wrapper{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.title{
    font-family: 'Second';
    color: var(--third-color);
}
.edit{
    font-family: 'Main';
    font-weight: bold;
    color: var(--third-color);
    cursor: pointer;
}
.subtitle{
    font-family: 'Main';
    color: grey;
}
